<% layout("/layouts/boilerplate")%>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h1>Edit Your Listing</h1>

      <form
        action="/listings/<%=listing._id%>?_method=PUT"
        method="post"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            required
            name="listing[title]"
            value="<%=listing.title%>"
            class="form-control"
          />
          <div class="valid-feedback">Title Looks Good!</div>
          <div class="invalid-feedback">Please Enter A Title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required>
<%=listing.description%></textarea
          >
          <div class="invalid-feedback">
            Description Cannot Be Empty. Please Add Details.
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Old image</label>
          <img
            src="<%=listing.image.url%>"
            class="card-img-top show-img"
            alt="listing_image"
          />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label"
            >Upload New Image
            <i style="color: rgb(127, 123, 123); font-size: 0.7rem">
              (Optional)</i
            ></label
          >

          <input type="file" name="listing[image]" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            required
            type="number"
            min="1"
            name="listing[price]"
            value="<%=listing.price%>"
            class="form-control"
          />
          <div class="invalid-feedback">Please Enter A Valid Price</div>
        </div>
        <div class="mb-3">
          <label for="street" class="form-label">street</label>
          <input
            required
            value="<%=listing.street%>"
            type="text"
            class="form-control"
            name="listing[street]"
          />
          <div class="invalid-feedback">Please Specify A Valid street</div>
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">City</label>
          <input
            required
            value="<%=listing.city%>"
            type="text"
            class="form-control"
            name="listing[city]"
          />
          <div class="invalid-feedback">Please Specify A Valid City.</div>
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            required
            type="text"
            class="form-control"
            name="listing[country]"
            value="<%=listing.country%>"
          />
          <div class="invalid-feedback">
            Country Is Required. Please Specify A Valid Country
          </div>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label"> Category</label>
          <select class="form-select" name="listing[category]" required>
            <option value="" disabled>Select a category</option>
            <option value="unfurnished" <%= listing.category === "unfurnished" ? "selected" : "" %>>Unfurnished</option>
            <option value="furnished" <%= listing.category === "furnished" ? "selected" : "" %>>Furnished</option>
            <option value="villa" <%= listing.category === "villa" ? "selected" : "" %>>Villa</option>
            <option value="pool" <%= listing.category === "pool" ? "selected" : "" %>>Pool House</option>
            <option value="farm" <%= listing.category === "farm" ? "selected" : "" %>>Farm House</option>
            <option value="shop" <%= listing.category === "shop" ? "selected" : "" %>>Shop</option>
            <option value="pg" <%= listing.category === "pg" ? "selected" : "" %>>PG</option>
            <option value="luxury" <%= listing.category === "luxury" ? "selected" : "" %>>Luxury</option>
            <option value="flat" <%= listing.category === "flat" ? "selected" : "" %>>Flat</option>
          </select>
          <div class="invalid-feedback">Please select a category</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br /><br /><br />
      </form>
    </div>
  </div>
</body>
