<% layout("/layouts/boilerplate")%>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h1>Edit Your Listing</h1>

      <form
        action="/listings/<%=listing._id%>?_method=PUT"
        method="post"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            required
            name="listing[title]"
            value="<%=listing.title%>"
            class="form-control"
          />
          <div class="valid-feedback">Title Looks Good!</div>
          <div class="invalid-feedback">Please Enter A Title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required>
<%=listing.description%></textarea
          >
          <div class="invalid-feedback">
            Description Cannot Be Empty. Please Add Details.
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Old image</label>
          <img
            src="<%=listing.image.url%>"
            class="card-img-top show-img"
            alt="listing_image"
          />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label"
            >Upload New Image
            <i style="color: rgb(127, 123, 123); font-size: 0.7rem">
              (Optional)</i
            ></label
          >

          <input type="file" name="listing[image]" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            required
            type="number"
            min="1"
            name="listing[price]"
            value="<%=listing.price%>"
            class="form-control"
          />
          <div class="invalid-feedback">Please Enter A Valid Price</div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            required
            value="<%=listing.location%>"
            type="text"
            class="form-control"
            name="listing[location]"
          />
          <div class="invalid-feedback">
            Location Is Required. Please Specify A Valid Location
          </div>
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            required
            type="text"
            class="form-control"
            name="listing[country]"
            value="<%=listing.country%>"
          />
          <div class="invalid-feedback">
            Country Is Required. Please Specify A Valid Country
          </div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br /><br /><br />
      </form>
    </div>
  </div>
</body>
