<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Property Rental</title>
  </head>
  <body>
    <% let i = 1; %> <%for(let data of listingData){%>
    <img src="<%=data.image%>" height="400px" />
    <h1><%=i++%>. title: <%=data.title%></h1>
    <h2>Description: <%=data.description%></h2>
    <h4>Price: <%=data.price%></h4>
    <br />
    <%}%>
  </body>
</html>
