<% layout("/layouts/boilerplate")%>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-3">
      <p style="font-size: xx-large; font-weight: 500"><%=data.title%></p>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
      <img
        src="<%=data.image%>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text">
          Owned by: <b><%=data.owner.username%></b> <br />
          <%=data.description%> <br />
          &#8377;<%=data.price.toLocaleString("en-IN")%> <br />
          <%=data.location%> <br />
          <%=data.country%>
        </p>
      </div>
    </div>
  </div>
  <% if (currUser && currUser._id.toString() === data.owner._id.toString()) { %>
  <div class="btns">
    <a href="/listings/<%=data._id%>/edit" class="btn edit-btn col-1 offset-3"
      >Edit</a
    >

    <form action="/listings/<%=data._id%>?_method=DELETE" method="post">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
  <%}%>
  <div class="col-8 offset-3">
    <hr />
    <h4>Leave A Review</h4>
    <form
      action="/listings/<%=data._id%>/reviews"
      method="post"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
          class="form-range"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          required
          name="review[comment]"
          id="comment"
          cols="30"
          class="form-control"
          rows="5"
        ></textarea>
        <div class="invalid-feedback">Please add some comment</div>
      </div>
      <button class="comment-btn">
        <div class="svg-wrapper-1">
          <div class="svg-wrapper">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                fill="currentColor"
                d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
              ></path>
            </svg>
          </div>
        </div>
        <span>COMMENT</span>
      </button>
    </form>
    <br /><br />
    <hr />
    <p><b> Reviews </b></p>
    <div class="row">
      <%for(review of data.reviews){ %>
      <div class="card col-5 mb-4 ms-3">
        <div class="card-body">
          <h6 class="card-title">
            <i>@<b><%=review.author.username%></b></i>
          </h6>
          <p class="card-text"><%=review.comment%></p>
          <p class="card-text"><%=review.rating%> &#9734;</p>
        </div>
        <form
          action="/listings/<%=data._id%>/reviews/<%=review._id%>?_method=DELETE"
          class="mb-3"
          method="post"
        >
          <% if (currUser && currUser._id.toString() ===
          review.author._id.toString()) { %>
          <button class="btn btn-sm btn-dark">Delete</button>
          <%}%>
        </form>
      </div>
      <%}%>
    </div>
  </div>
</body>
