<% layout("/layouts/boilerplate")%>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-3">
      <h2>Listing Details</h2>
    </div>
    <div class="card col-6 offset-3 show-card">
      <img
        src="<%=data.image%>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text">
          <b> <%=data.title%></b><br />
          <%=data.title%> <br />
          &#8377;<%=data.price.toLocaleString("en-IN")%> <br />
          <%=data.location%> <br />
          <%=data.country%>
        </p>
      </div>
    </div>
  </div>
  <div class="btns">
    <a href="/listings/<%=data._id%>/edit" class="btn edit-btn col-1 offset-3"
      >Edit</a
    >

    <form action="/listings/<%=data._id%>?_method=DELETE" method="post">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
</body>
