<% layout("/layouts/boilerplate")%>

<body>
  <h1>Listing Details</h1>
  <ul>
    <li>Title: <%=data.title%></li>
    <li>Description: <%=data.description%></li>
    <li>Price: &#8377;<%=data.price.toLocaleString("en-IN")%></li>
    <li>Location: <%=data.location%></li>
    <li>Country: <%=data.country%></li>
  </ul>
  <br />
  <button>
    <a href="/listings/<%=data._id%>/edit">Edit This Listing</a>
  </button>
  <br />
  <br />
  <form action="/listings/<%=data._id%>?_method=DELETE" method="post">
    <button>Delete Listing</button>
  </form>
</body>
